{"env": {
    "browser": true,
    "es2021": true
},
"extends": ["eslint:recommended", "plugin:react/recommended", "airbnb", "prettier"],
"parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
},
"plugins": ["react", "prettier"],
"rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "react/self-closing-comp": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-closing-tag-location": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/static-property-placement": "off"
}
}